html, body {
  height: 100%;
  margin: 0px;
}

.el-main {
  width: 100%;
  height: 100%;
  background-color: #F2F6FC;
  overflow: initial;
  color: #333;
  text-align: center;
  line-height: 160px;
}

.el-container {
  width: 100%;
  height: 100%;
}

.el-header {
  background-color: #FFF;
  color: #333;
}

.el-footer {
  background-color: #EBEEF5;
  color: #333;
  text-align: center;
}
