html, body {
  height: 100%;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

.el-main {
  width: 100%;
  height: 100%;
  background-color: rgb(244, 244, 244) !important;
  overflow: initial;
  color: #333;
  text-align: center;
  line-height: 40px;
  padding-right: 5% !important;
  padding-left: 5% !important;
}

.el-container {
  width: 100%;
  height: 100%;
}

.el-header {
  background-color: #FFF;
  color: #333;
}

.el-footer {
  background-color: #EBEEF5;
  color: #333;
  text-align: center;
}

.el-dialog__wrapper {
  z-index: 4000 !important;
}

.el-picker-panel {
  z-index: 4000 !important;
}

@media (min-width: 768px) {
  .v-modal {
    z-index: 3000 !important;
  }
}
